header{
    display: flex;
    justify-content: space-between;
    background-color: lightskyblue
}

header>nav>ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 16px;
    margin-left: 10px;
    
}


header>nav>ul>li{
    margin-left: 10px;
    

}




#banner{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

